{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome | Servora</title>

   <link rel="stylesheet" href="../static/CSS/index.css">
   <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>

<body>

<section class="hero">
    <h1>Welcome</h1>
    <h1>to</h1>
    <div class="typing">Servora</div>

    <div class="btn-group">
        <a href="/signin/" class="btn">Login</a>
        <a href="/signup/" class="btn">Sign Up</a>
    </div>
</section>

<section class="cta">
    <h2>Start Managing Your Restaurant Smarter Today 🚀
        <h2>Join as Admin</h2>
    </h2>
    <a href="/signup/" class="btn">Get Started</a>
</section>

<footer>
    <div class="footer-content">

        <div class="footer-section">
            <h4>Contact</h4>
            <p>Email: Honnurm39@gmail.com</p>
            <p>Phone: 8050825061</p>
            <p>Location: Bellary</p>
        </div>

        <div class="footer-section">
            <h4>Connect</h4>
            <p><a href="https://www.linkedin.com/in/honnur-m-44051b319" target="_blank">LinkedIn</a></p>
            <p><a href="https://honnur-portfolio-qmx7.vercel.app/" target="_blank">Portfolio</a></p>
        </div>

    </div>

    <div class="copyright">
        © 2026 Servora | Designed & Developed by Honnur M
    </div>
</footer>

</body>
</html>