
       body {
    margin: 0;
    font-family: 'Poppins', sans-serif;

    background:
        linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
        url("https://images.unsplash.com/photo-1555396273-367ea4eb4db5");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(255, 255, 255, 0.95);
    padding: 40px;
    width: 380px;
    border-radius: 18px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(8px);
}

h1 {
    text-align: center;
    color: #ff6b00;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 26px;
}

label {
    font-weight: 600;
    display: block;
    margin-top: 15px;
    color: #374151;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    font-size: 14px;
    transition: 0.3s;
}

input:focus {
    border-color: #ff6b00;
    outline: none;
    box-shadow: 0 0 0 3px rgba(255,107,0,0.15);
}

button {
    width: 100%;
    margin-top: 25px;
    padding: 12px;
    background: #ff6b00;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #e65c00;
    transform: translateY(-2px);
}

.back-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #ff6b00;
    font-weight: 600;
    font-size: 14px;
    transition: 0.3s;
}

.back-link:hover {
    color: #e65c00;
}

.back:hover{
    background: #e65c00;
    transform: translateY(-2px);
}
